body {
	background-color: #263238;
	font-family: "Roboto", sans-serif;
	color: #606060;
}

#content {
	max-width: 50%;
	margin: auto;
}

#login_box {
	margin-top: 100px;
	padding: 25px;
	background-color: #F5F5F5;
	box-shadow: 0px 0px 8px #212121;
}

#login_box img {
	height: 60px;
}

#login_box h2 {
	margin: 8px 2px;
	font-size: 2.4em;
	font-weight: normal;
}

#login_form {
	margin: 10px;
	overflow: auto;
}

.form_line {
	display: block;
	margin-top: 10px;
	padding: 5px;
	background-color: inherit;
	font-size: 1em;
	border: none;
	border-bottom: 1px solid #707070;
}

.form_line:focus {
	border-bottom: 1px solid #37474F;
	color: #212121;
}

#error_field {
	margin: 15px 0 0 4px;
	color: red;
	font-size: 1em;
}

#login_form input[type=submit] {
	display: block;
	margin-top: 20px;
	padding: 6px;
	float: right;
	border: none;
	border-radius: 4px;
	background-color: #5E5E5E;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	color: #F5F5F5;
}

#login_form input[type=submit]:hover {
	background-color: #263238;
}

#content a {
	display: block;
	margin: 5px;
	float: right;
	color: #F5F5F5;
	text-decoration: none;
}
